@import '../../../assets/styles/variables.scss';

input{
  color: $black;
}
.pesquisar{
  display: flex;
  justify-content: center;
}
.pesquisar input{
  width: 70vw;
  height: 25px;
  border-radius: 10px;
  font-size: 16px;
  border-style: none;
  padding: 10px;

}
.pesquisar input:focus{
  box-shadow: 0 0 0 0;
  outline: 0;
}
