<poke-search (emitirSearch)="getSearch($event)"></poke-search>

<section class="lista__pokemon">
  <ng-template ngFor let-pokemon [ngForOf]="allPokemonsList">
    <section class="pokemon__card" (click)="openDetails($event)" *ngIf="pokemon.status">
      <article class="pokemon__status">
        <h1>{{ pokemon.name }}</h1>
      </article>
      <ul>
        <li *ngFor="let poke of pokemon?.status?.types">
          {{ poke.type.name }}
        </li>
      </ul>
      <article class="pokemon__image">
        <img [src]="pokemon.status.sprites.versions['generation-v']['black-white'].animated.front_default" [alt]="pokemon.name" />
      </article>
    </section>
  </ng-template>
</section>
